footer {
    padding: 0 50px;
    margin-top: 250px;

    
    .footer_wrapper {
        
        border-bottom: 1px solid $color-gray-100;
        border-top: 1px solid $color-gray-100;
        display: flex;
        padding: 32px 50px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 52px;


        .social-media {

            display: flex;
            flex-direction: column;
            justify-content: start;
            max-width: 300px;

            &__logo {

                height: 40px;
                width: 40px;
                margin-bottom: 100px;

            }

            &__mail {
                margin-bottom: 50px;
                display: block;
                text-decoration: underline;
                font-size: 20px;
                font-weight: 500;
                color: $color-blue-100;
            }

            &__icons {
                gap: 12px;
                display: flex;
                margin-bottom: 50px;


                a {
                    display: block;
                }
            }


        }

        .footer-offices {

            display: flex;
            flex-direction: column;
            gap: 32px;


            h5 {
                font-size: 20px;
                color: $color-black-200;
                margin-bottom: 28px;

            }

            &__contact {
                
                display: flex;
                flex-direction: column;
                gap: 8px;
                
                h6 {
                    font-size: 20px;
                    color: $color-blue-100;
                    
                }

                    
                a {

                    color: $color-gray-100;
                    font-size: 20px;
                }

                address {
                    font-size: 20px;
                    color: $color-gray-100;
                }
            }

        }

        .footer-services {
            

            h5 {
                font-size: 20px;
                color: $color-black-200;
                margin-bottom: 50px;


            }

            &__list {

                gap: 28px;               
                display: flex;
                flex-direction: column;


                &__item {

                    a {
                        font-size: 20px;
                         color: $color-blue-100;
                    }

                }
            }

        }

    }

    .copyright {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        
        height: 64px;
        max-width: 1440px;
        font-size: 16px;


        ._container {
            margin: 0 auto;
            padding: 0 70px;
            max-width: 1440px;
        }
        
        
        body {
            min-height: 100vh;
        }
        
        color: $color-gray-100;
    }
}